.user-message {
    text-align: right;
    margin-bottom: 1rem;
    background-color: #d4e6ff;
    padding: 0.5rem;
    border-radius: 8px;
  }
  
  .db-message {
    text-align: left;
    margin-bottom: 1rem;
    background-color: #f1f0f0;
    padding: 0.5rem;
    border-radius: 8px;
  }


  table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    display: block;
    overflow-x: auto;
  }
  
  thead th {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  tbody td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  